.card
{
  border-color: $light-orange;
  border-width: 2px;
  text-align: justify;
}

.card-header
{
  background-color: $bg-color;
}

.card-body
{
  background-color: $bg-color-secondary
}

.card-footer
{
  background-color: $bg-color;
}

.card__button
{
  border: none;
  text-transform: uppercase;
  font-weight: bold;
}

.card__input
{

}

.btn-link:hover
{
  color: white;
}
