.dashboard__title
{
    margin-bottom: 20px;
}

.dashboard__status__col
{
  margin: 0 auto;
  text-align: center;
  border-radius: 8px;
}

.dashboard__status_icon--bowl
{
    width: 40%;
    height: 40%;
    display: block;
    margin: 0 auto;
}
 
.dashboard__status_icon--checkmark {
    position: absolute;
    top: 15%;
    right: 40%;
    width: 6% !important;
    height: auto !important;
}

.dashboard__status__text
{
    margin-top: 20px;
    font-size: 24px;
}

.dashboard__status__text--temperature
{
  font-size: 42px;
}

.navbar-nav .nav-link {
    text-align: center;
}

hr
{
    background-color: #4a4a4a;
}

.dashboard__add-button
{
    width: 60%;
    height: 60%;
    display: block;
    margin-bottom: 35%;
    margin-top: 5%;
    border: none;
    background-image: url('/img/icons/add.svg');
    background-repeat: no-repeat;
    background-size: 60px 60px;
    background-color: transparent;
    background-position: center;
}

.dashboard__add-button:hover
{
    background-image: url('/img/icons/add_hover.svg');
}

.cornflakes__bar__button:hover
{
    text-decoration: underline;
}

.btn-ft-right {
    float: right;
}

@media (max-width: 450px) and (max-height: 850px)
{
    .dashboard__status_icon--checkmark
    {
        top: 25%;
    }

    .dashboard__add-button
    {
        margin-bottom: 30%;
        margin-left: auto;
        margin-right: auto;
    }

}
