.background-cereal {
    background-image: url("../img/cereal_background.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login--logo {
    display: block;
    text-align: center;
    font-size: 400%;
    pointer-events: none;
}

.title--secondary
{
  color: #F57C00;
  font-weight: bold;
}

.login--logo-image
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  filter: invert(62%) sepia(75%) saturate(5532%) hue-rotate(14deg) brightness(110%) contrast(104%);
}

.login--input, .login--input:focus {
    border: none;
    border-bottom: 1px solid white;
    background-color: $bg-color;
    border-radius: 0%;
    box-shadow: none;
    color: white;
}

.login--button {
    margin-top: 10%;
    border-radius: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
    font-weight: 700;
    border: none;
}

.login--hr {
    border-top: 5px solid #ffffff;
    width: 10%;
    margin-bottom: 10%;
    border-radius: 50px;
}

.login--quote {
    margin-top: -4%;
}
