.modal-icon {
    width: 400px;
    height: 200px;
    background-color: $bg-color-secondary;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    z-index: 1000;

    &__content-up, &__content-down {
        display: flex;
        justify-content: space-around;
        flex: 0 0 100%;
    }

    &__content-up {

        &__img {
            width: 60px;
            height: 60px;
            border-radius: 50%;

            &--1 {
                background-color: red;
            }

            &--2 {
                background-color: green;
            }

            &--3 {
                background-color: blue;
            }
        }
    }

    &__content-down {

        &__img {
            width: 60px;
            height: 60px;
            border-radius: 50%;

            &--1 {
                background-color: red; 
            }

            &--2 {
                background-color: green;
            }

            &--3 {
                background-color: blue;
            }
        }
    }
}