nav a {
    color: white !important;
}

.title--secondary {
    color: $light-orange !important;
}

.navbar-toggler {
    color: white;
}

.navbar-toggler-icon {
    background-image: url(../img/menu.svg);
    font-size: 75%;
}

.disable-nav {
    display: none;
}

.fas{
    font-size: 75%;
}

.title--breadcrumb {
    font-size: 75%;
}
