.modal-header
{
  background-color: $bg-color;
  border: none;
}

.modal-body
{
  background-color: $bg-color-secondary;
}

.modal-footer
{
  background-color: $bg-color;
  border: none;

  button
  {
    width: 20%;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
  }

}
