.default-profile
{
  text-align: center;
  padding: 20px;
  background-color: #2f2f2f;
  border-radius: 8px;

  margin-bottom: 10%;

  h1
  {
    color: white;
  }

  button
  {
    width: 40%;
    border: none;
    font-weight: 700;
    text-transform: uppercase;
  }

}

.btn-primary:hover
{
  background-color: $light-orange !important;
}
