.modal-queue {
    background-color: $bg-color-secondary;
    width: 100%;
    height: 175px;
    border-radius: 7px;
    position: relative;
    margin-right: 10%;
    margin-bottom: 10%;

    &__body {
        padding: 2rem;
        display: inline-block;
    }

    &__icon {
        display: flex;
        align-items: center;
        margin-top: 5%;

        &-info {
            color: #fff;
            font-size: 15px;
        }
    }

    &__content-left {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-right: 100px;
    }

    &__content-right {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.icon {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.picture {
    width: 20%;
    // border-radius: 50%;
    position: absolute;
    right: 18px;
    top: 55px;
}

.close {
    position: absolute;
    width: 5%;
    height: auto;
    top: 5px;
    right: 5px;
}

.close:hover {
    cursor: pointer;
}

.heading-3 {
    font-size: 24px;
    color: $orange;
    font-weight: 700;
}

.queue__item {
    padding-right: 5%;
}
