@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
body {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    background-color: $bg-color;
    color: white;
    font-family: "Montserrat", sans-serif;
}

h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5em !important;
}

label,
a,
a:hover,
a:active,
a:visited {
    color: white;
}

.link-right {
    float: right !important;
    color: $light-orange !important;
    font-weight: bold;
}

input {
    border: 5px solid red;
}

.form--access {
    width: 80%;
    margin: 0 auto;
}

#js--addCornflakeAlert {
    display: none;
}
