@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
body {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  background-color: #252525;
  color: white;
  font-family: "Montserrat", sans-serif;
}

h2 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5em !important;
}

label,
a,
a:hover,
a:active,
a:visited {
  color: white;
}

.link-right {
  float: right !important;
  color: #FFAD42 !important;
  font-weight: bold;
}

input {
  border: 5px solid red;
}

.form--access {
  width: 80%;
  margin: 0 auto;
}

#js--addCornflakeAlert {
  display: none;
}

nav a {
  color: white !important;
}

.title--secondary {
  color: #FFAD42 !important;
}

.navbar-toggler {
  color: white;
}

.navbar-toggler-icon {
  background-image: url(../img/menu.svg);
  font-size: 75%;
}

.disable-nav {
  display: none;
}

.fas {
  font-size: 75%;
}

.title--breadcrumb {
  font-size: 75%;
}

.default-profile {
  text-align: center;
  padding: 20px;
  background-color: #2f2f2f;
  border-radius: 8px;
  margin-bottom: 10%;
}

.default-profile h1 {
  color: white;
}

.default-profile button {
  width: 40%;
  border: none;
  font-weight: 700;
  text-transform: uppercase;
}

.btn-primary:hover {
  background-color: #FFAD42 !important;
}

.background-cereal {
  background-image: url("../img/cereal_background.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login--logo {
  display: block;
  text-align: center;
  font-size: 400%;
  pointer-events: none;
}

.title--secondary {
  color: #F57C00;
  font-weight: bold;
}

.login--logo-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  -webkit-filter: invert(62%) sepia(75%) saturate(5532%) hue-rotate(14deg) brightness(110%) contrast(104%);
          filter: invert(62%) sepia(75%) saturate(5532%) hue-rotate(14deg) brightness(110%) contrast(104%);
}

.login--input, .login--input:focus {
  border: none;
  border-bottom: 1px solid white;
  background-color: #252525;
  border-radius: 0%;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: white;
}

.login--button {
  margin-top: 10%;
  border-radius: 1em;
  padding-top: .5em;
  padding-bottom: .5em;
  font-weight: 700;
  border: none;
}

.login--hr {
  border-top: 5px solid #ffffff;
  width: 10%;
  margin-bottom: 10%;
  border-radius: 50px;
}

.login--quote {
  margin-top: -4%;
}

.btn-primary {
  background-color: #F57C00 !important;
}

.modal-header {
  background-color: #252525;
  border: none;
}

.modal-body {
  background-color: #2f2f2f;
}

.modal-footer {
  background-color: #252525;
  border: none;
}

.modal-footer button {
  width: 20%;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
}

.dropdown-menu {
  background-color: #2f2f2f;
}

.dropdown-menu :hover {
  background-color: #2f2f2f;
}

.dropdown-item:hover {
  text-decoration: underline;
}

.dashboard__title {
  margin-bottom: 20px;
}

.dashboard__status__col {
  margin: 0 auto;
  text-align: center;
  border-radius: 8px;
}

.dashboard__status_icon--bowl {
  width: 40%;
  height: 40%;
  display: block;
  margin: 0 auto;
}

.dashboard__status_icon--checkmark {
  position: absolute;
  top: 15%;
  right: 40%;
  width: 6% !important;
  height: auto !important;
}

.dashboard__status__text {
  margin-top: 20px;
  font-size: 24px;
}

.dashboard__status__text--temperature {
  font-size: 42px;
}

.navbar-nav .nav-link {
  text-align: center;
}

hr {
  background-color: #4a4a4a;
}

.dashboard__add-button {
  width: 60%;
  height: 60%;
  display: block;
  margin-bottom: 35%;
  margin-top: 5%;
  border: none;
  background-image: url("/img/icons/add.svg");
  background-repeat: no-repeat;
  background-size: 60px 60px;
  background-color: transparent;
  background-position: center;
}

.dashboard__add-button:hover {
  background-image: url("/img/icons/add_hover.svg");
}

.cornflakes__bar__button:hover {
  text-decoration: underline;
}

.btn-ft-right {
  float: right;
}

@media (max-width: 450px) and (max-height: 850px) {
  .dashboard__status_icon--checkmark {
    top: 25%;
  }
  .dashboard__add-button {
    margin-bottom: 30%;
    margin-left: auto;
    margin-right: auto;
  }
}

.modal-queue {
  background-color: #2f2f2f;
  width: 100%;
  height: 175px;
  border-radius: 7px;
  position: relative;
  margin-right: 10%;
  margin-bottom: 10%;
}

.modal-queue__body {
  padding: 2rem;
  display: inline-block;
}

.modal-queue__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5%;
}

.modal-queue__icon-info {
  color: #fff;
  font-size: 15px;
}

.modal-queue__content-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 100px;
}

.modal-queue__content-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

.picture {
  width: 20%;
  position: absolute;
  right: 18px;
  top: 55px;
}

.close {
  position: absolute;
  width: 5%;
  height: auto;
  top: 5px;
  right: 5px;
}

.close:hover {
  cursor: pointer;
}

.heading-3 {
  font-size: 24px;
  color: #F57C00;
  font-weight: 700;
}

.queue__item {
  padding-right: 5%;
}

.modal-icon {
  width: 400px;
  height: 200px;
  background-color: #2f2f2f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: 1000;
}

.modal-icon__content-up, .modal-icon__content-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.modal-icon__content-up__img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.modal-icon__content-up__img--1 {
  background-color: red;
}

.modal-icon__content-up__img--2 {
  background-color: green;
}

.modal-icon__content-up__img--3 {
  background-color: blue;
}

.modal-icon__content-down__img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.modal-icon__content-down__img--1 {
  background-color: red;
}

.modal-icon__content-down__img--2 {
  background-color: green;
}

.modal-icon__content-down__img--3 {
  background-color: blue;
}

.card {
  border-color: #FFAD42;
  border-width: 2px;
  text-align: justify;
}

.card-header {
  background-color: #252525;
}

.card-body {
  background-color: #2f2f2f;
}

.card-footer {
  background-color: #252525;
}

.card__button {
  border: none;
  text-transform: uppercase;
  font-weight: bold;
}

.btn-link:hover {
  color: white;
}
/*# sourceMappingURL=main.css.map */